.mainPage {
    border: 2px solid red; 
    display: flex;
    justify-content: space-around;
    align-items: center; 
    background-color: #F6E4F6; 
    height: 100vh; 
    position: relative;
}

.section-elements {
    border: 2px solid blue; 
    background-color: white; 
    border-radius: 8%; 
    height: 70vh;
    width: 40vw;
    display: flex; 
    flex-direction: column; 
    justify-content: space-around;
    align-items: center;
}

.listTodo{
    border: 2px solid blue; 
    background-color: white; 
    border-radius: 8%; 
    height: 70vh;
    width: 40vw;
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center;
    overflow-y: scroll;
}